.topic {
    border: 5px solid #0c3236;
    background-color:#78F0DE;
    font-family:'Roboto Mono';
    font-size: 15px;
    padding: 10px 10px 0px 10px;
    color: #0c3236; 
}

 .sh {
     border: 5px solid #0c3236;
     font-family: 'Roboto Mono';
     background-color: #5AA398 ;
     padding: 5px 10px 5px 10px;
     color: #0c3236;
 }
 
 .part-a  {
     border: 5px solid #0c3236;
     background-color: #F0B875;
     font-family: 'Roboto Mono';
     padding: 5px 10px 5px 10px;
     color: #0c3236;
     
     
 }
 
.head {
    font-family: 'Roboto Mono';
    color: #0c3236;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows:50%
}
 

 .part-b {
     border: 5px solid #0c3236;
     background-color: #66c3cc;
     margin: 0px 0px 10px 0px;
     font-family: 'Roboto Mono';
     padding: 5px 10px 5px 10px;
     color: #0c3236;
 }

.img {
    margin: auto;
    height: auto;
    width: 100px;
    border: 5px solid #0c3236;
    border-radius: 5px;
    float: right;
}

.pl {
    float: right;
    margin: 100px 700px 10px 10px;
}

.ip {
    width: 400px;
    height: auto;
    border: 5px solid #0c3236;
    border-radius: 5px;
    float: right;
    margin: 100px 100px 200px 200px;
}

.paint {
    float:right;
    height:auto;
    width: 700px;
    margin: 100px 400px 10px 10px;
    border: 5px solid #0c3236;
    border-radius: 5px;
    
}

.pg {
    margin-left: 500px;
}

/*Colors: Dark Turquoise #5AA398*/
/*Light Teal: #78F0DE*/
/*Pale Orange: #F0B875*/
/*Dark Blue: #404EA3*/
/*Light Blue: #697DF0*/