.topic {
    border: 5px solid black;
    background-color:#78F0DE;
    font-family:'Roboto Mono';
    grid-template-column: 1;
    grid-template-row: 1;
}
 .part-a {
     border: 5px solid black;
     grid-template-column: 2;
     grid-template-row: 2;
     background-color: #697DF0;
     
 }

.head {
    display: grid;
    grid-template-column: 20% 20% 20% 20% 20%;
    grid-template-row: 20% 20% 20% 20% 20%;
    
}

/*Colors: Dark Turquoise #5AA398*/
/*Light Teal: #78F0DE*/
/*Pale Orange: #F0B875*/
/*Dark Blue: #404EA3*/
/*Light Blue: #697DF0*/